---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (ds "tf").eks.value.eks.id }}-gloo-crds
  namespace: argocd
  labels:
    solo.io/gloo-component: gloo-platform
spec:
  project: default
  source:
    chart: gloo-platform-crds
    repoURL:  {{ (ds "env").gloo.repo }}
    targetRevision: {{ (ds "env").gloo.version }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
  destination:
    server: {{ (index (ds "tf") "argocd-destination-server").value }}
    namespace: gloo-mesh
--- 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (ds "tf").eks.value.eks.id }}-gloo-platform
  namespace: argocd
  labels:
    solo.io/gloo-component: gloo-platform
spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
  destination:
    server: {{ (index (ds "tf") "argocd-destination-server").value }}
    namespace: gloo-mesh
  source:
    chart: gloo-platform
    repoURL:  {{ (ds "env").gloo.repo }}
    targetRevision: {{ (ds "env").gloo.version }}
    helm:
      values: |
        global:
          common:
            cluster: {{ (ds "tf").eks.value.eks.id }}
        common:
          cluster: {{ (ds "tf").eks.value.eks.id }}
        demo:
          manageAddonNamespace: true
        extAuthService:
          enabled: false
        licensing:
          licenseSecretName: gloo-platform-license
        {{ if (ds "env").singleCluster }}
        glooAgent:
          enabled: true
          relay:
            serverAddress: "gloo-mesh-mgmt-server.gloo-mesh:9900"
        {{ end }}
        glooMgmtServer:
          enabled: true
           relay:
             disableCa: true
             disableCaCertGeneration: true
             disableTokenGeneration: true
             pushRbac: true
             tlsSecret:
               name: mgmt-server-tls
          serviceOverrides:
            metadata:
              annotations:
                external-dns.alpha.kubernetes.io/hostname: mgmt.{{ (ds "tf").privateHzName.value }}
                # external-dns.alpha.kubernetes.io/aws-failover: PRIMARY
                # external-dns.alpha.kubernetes.io/set-identifier: {{ (ds "tf").region.value }}
                external-dns.alpha.kubernetes.io/alias: "true"
                external-dns.alpha.kubernetes.io/aws-health-check-id: 00000000-0000-0000-0000-000000000000
                service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled=false
                service.beta.kubernetes.io/aws-load-balancer-backend-protocol: TCP
                service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
                service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
                service.beta.kubernetes.io/aws-load-balancer-scheme: internal
                service.beta.kubernetes.io/aws-load-balancer-type: external
        glooUi:
          enabled: true
        istioInstallations:
          enabled: false
        legacyMetricsPipeline:
          enabled: false
        prometheus:
          enabled: true
          server:
            service:
              type: LoadBalancer
              annotations:
                external-dns.alpha.kubernetes.io/hostname: prometheus.{{ (ds "tf").privateHzName.value }}
                external-dns.alpha.kubernetes.io/alias: "true"
                service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled=false
                service.beta.kubernetes.io/aws-load-balancer-backend-protocol: TCP
                service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
                service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
                service.beta.kubernetes.io/aws-load-balancer-scheme: internal
                service.beta.kubernetes.io/aws-load-balancer-type: external
        telemetryCollector:
          config:
            exporters:
              otlp:
                endpoint: gloo-telemetry-gateway.gloo-mesh:4317
          enabled: true
        telemetryGateway:
          enabled: true
          service:
            annotations:
              external-dns.alpha.kubernetes.io/hostname: otel.{{ (ds "tf").privateHzName.value }}
              external-dns.alpha.kubernetes.io/alias: "true"
              service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled=false
              service.beta.kubernetes.io/aws-load-balancer-backend-protocol: TCP
              service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
              service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
              service.beta.kubernetes.io/aws-load-balancer-scheme: internal
              service.beta.kubernetes.io/aws-load-balancer-type: external
            type: LoadBalancer

{{ if (ds "env").singleCluster }}
---
apiVersion: admin.gloo.solo.io/v2
kind: KubernetesCluster
metadata:
  name:  {{ (ds "tf").eks.value.eks.id }}
  namespace: gloo-mesh
spec:
  clusterDomain: cluster.local
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mgmt-server
  namespace: gloo-mesh
spec:
  # Secret names are always required.
  secretName: mgmt-server-tls
  duration: 2160h0m0s
  renewBefore: 360h0m0s
  subject:
    organizations:
      - gloo-mesh-mgmt-server
  commonName: gloo-mesh-mgmt-server
  usages:
    - digital signature
    - key encipherment
    - server auth
    - client auth
  dnsNames:
    - "*.gloo-mesh"
    - "*.vpc"
    - "*.example.com"
    - "*.elb.us-east-1.amazonaws.com"
    - "*.elb.us-west-1.amazonaws.com"
  # Issuer references are always required.
  issuerRef:
    name: root-ca
    kind: Issuer
--- 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (ds "tf").eks.value.eks.id }}-gloo-mgmt
  namespace: argocd
  labels:
    solo.io/gloo-component: gloo-platform
spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=false
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
  source:
    repoURL: https://github.com/bdlilley/cloud-gitops-examples.git
    path: argocd/common-mgmt-server
    targetRevision: main
    directory:
      recurse: true
  destination:
    server: {{ (index (ds "tf") "argocd-destination-server").value }}
    namespace: gloo-mesh
{{ end }}

{{ if (ds "env").singleWorkspace }}
---
apiVersion: admin.gloo.solo.io/v2
kind: Workspace
metadata:
  name: default
  namespace: gloo-mesh
  labels:
    gloo.solo.io/team: 'platform'
spec:
  workloadClusters:
  - name: '*'
    namespaces:
    - name: "*"
---
apiVersion: admin.gloo.solo.io/v2
kind: WorkspaceSettings
metadata:
  name: default
  namespace: gloo-mesh
spec:
  options:
    serviceIsolation:     
      enabled: false
    federation:
      enabled: false
      serviceSelector:
      - {}
    eastWestGateways:
    - selector:
        labels:
          istio: eastwestgateway
{{ end }}