
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (ds "tf").eks.value.eks.id }}-aoa
  namespace: argocd
  labels:
    solo.io/infra: aoa
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/bdlilley/cloud-gitops-examples.git
    path: argocd/generated/{{ (ds "tf").eks_cluster_id.value }}
    targetRevision: main
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=false
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
  destination:
    server: {{ (index (ds "tf") "argocd-destination-server").value }}
    namespace: kube-system  
