--- 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ (ds "tf").eks.value.eks.id }}-gloo-setup
  namespace: argocd
  labels:
    solo.io/gloo-component: gloo-setup
spec:
  destination:
    namespace: gloo-mesh
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=false
  source:
    repoURL: https://github.com/bdlilley/multi-region-demo.git
    path: argocd/_mgmt-common/gloo-mgmt-setup
    targetRevision: main
    directory:
      recurse: true
--- 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mgmt-1-ilm-istiod
  namespace: argocd
  labels:
    solo.io/gloo-component: istiod
spec:
  destination:
    namespace: gloo-mesh
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=false
  source:
    repoURL: https://github.com/bdlilley/multi-region-demo.git
    path: argocd/_mgmt-common/ilm-istiod
    targetRevision: main
    directory:
      recurse: true
--- 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mgmt-1-ilm-gateways
  namespace: argocd
  labels:
    solo.io/gloo-component: istio-gateway
spec:
  destination:
    namespace: gloo-mesh
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true 
    syncOptions:
    - CreateNamespace=false
  source:
    repoURL: https://github.com/bdlilley/multi-region-demo.git
    path: argocd/_mgmt-common/ilm-gateways
    targetRevision: main
    directory:
      recurse: true
